@charset "UTF-8";

/* GENERAL BUTTON STYLING */



button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #2ecc71;
}

/* BUTTON 1 */
.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}

/* BUTTON 2 */
.btn-2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-2:hover:after {
  width: 100%;
}

/* BUTTON 3 */
.btn-3::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.btn-3:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

/* BUTTON 4 */
.btn-4::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4::after {
  background: #2ecc71;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

/* BUTTON 5 */
.btn-5 {
  overflow: hidden;
}

.btn-5::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 135%;
}

.fill {
	position: absolute; left:50%; top:50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}

.img1 {
	background-image: url('http://source.unsplash.com/random/150x150');
	width: 150px;
	height: 150px;
}

.img2 {
	background-image: url('../img/spinner.png');
	width: 150px;
	height: 150px;
}
.img3 {
	background-image: url('../img/stop.png');
	width: 150px;
	height: 150px;
}
.img4 {
	background-image: url('../img/vibration.png');
	width: 150px;
	height: 150px;
}




.empty {
	display:inline-block;
  	position: relative;
  	width:160px;
	height:160px;
	border: 3px solid salmon;
	background-color: white;
}

.hold{
	border:solid #ccc 4px;
}

.hovered{
	background:#f4f4f4;
	border-style:dashed;
}

.invisible {
	display: none;
}
